apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-project-fmi
  labels:
    app: devops-project-fmi
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-project-fmi
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: devops-project-fmi
    spec:
      containers:
        - name: app
          image: ghcr.io/zhozemir/devops_project_fmi:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080

          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 20
