name: CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Build & Test
        run: ./mvnw -B clean test

      - name: Docker build
        if: github.event_name == 'pull_request'
        run: docker build -t devops_project_fmi:ci .

      # main: build + push към GHCR
      - name: Set image name (lowercase)
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        id: vars
        shell: bash
        run: |
          echo "IMAGE=ghcr.io/${GITHUB_REPOSITORY,,}" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ steps.vars.outputs.IMAGE }}:latest
            ${{ steps.vars.outputs.IMAGE }}:sha-${{ github.sha }}
            
  deploy-to-k8s:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: build-and-test
    runs-on: [self-hosted, Windows, X64]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Write kubeconfig from secret
        shell: pwsh
        run: |
          $kubeconfigPath = Join-Path $env:RUNNER_TEMP "kubeconfig"
          "${{ secrets.KUBECONFIG }}" | Out-File -FilePath $kubeconfigPath -Encoding utf8
          "KUBECONFIG=$kubeconfigPath" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

      - name: Set image name (lowercase)
        shell: pwsh
        run: |
          $img = "ghcr.io/${{ github.repository }}".ToLower()
          "IMAGE=$img" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

      - name: Deploy manifests
        shell: pwsh
        run: |
          kubectl apply -f k8s/deployment.yml
          kubectl apply -f k8s/service.yml
          kubectl set image deployment/devops-project-fmi app="${env:IMAGE}:sha-${{ github.sha }}"
          kubectl rollout status deployment/devops-project-fmi
          kubectl get pods -l app=devops-project-fmi

