name: SAST (SonarCloud)

on:
  pull_request:
    branches: [ "main" ]

  workflow_run:
    workflows: ["CI"]
    branches: ["main"]
    types: [completed]

permissions:
  contents: read
  pull-requests: read

jobs:
  sonarcloud:
    # за workflow_run: пускай само ако CI е success
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout (PR)
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout (from CI run)
        if: ${{ github.event_name == 'workflow_run' }}
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}
          fetch-depth: 0

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: SonarCloud Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./mvnw -B -DskipTests \
            -Dsonar.host.url="https://sonarcloud.io" \
            -Dsonar.organization="zhozemir" \
            -Dsonar.projectKey="Zhozemir_DevOps_PROJECT_FMI" \
            org.sonarsource.scanner.maven:sonar-maven-plugin:4.0.0.4121:sonar
