name: SAST (SonarCloud)

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

permissions:
  contents: read
  pull-requests: read

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Compile (needed for Sonar Java analysis)
        run: ./mvnw -B -DskipTests clean compile

      - name: SonarCloud Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./mvnw -B -DskipTests \
            -Dsonar.host.url="https://sonarcloud.io" \
            -Dsonar.organization="zhozemir" \
            -Dsonar.projectKey="Zhozemir_DevOps_PROJECT_FMI" \
            -Dsonar.java.binaries="target/classes" \
            org.sonarsource.scanner.maven:sonar-maven-plugin:4.0.0.4121:sonar
